* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "AvantGarde Bold", Sans-serif;
}
header {
    background: transparent;
    width: 100%;
    position: fixed;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.first a {
  text-decoration: none;
  color: #fff;
}
.second ul {
  width: 70%;
  display: flex;
  list-style: none;
}

.second ul li a {
  text-decoration: none;
  color: #fff;
}
.second ul li {
  margin-left: 20px;
}

.default {
  color: #fff;
  width: 30%;
}

.default h1{
    padding-top: 300px;
    width: 600px;
    font-size: 78px;
    margin-left: 70px;
}
.back {

  background-size: 39%;
  background-position: center;
  height: 100vh;
  background-image: url(../img/hero_02.jpg);
  background-repeat: no-repeat;
  margin-bottom: 100px;
  background-color: black   ;
}
.back .button {
    margin-left: 70px;
  margin-top: 50px;
}

.back .button a {
  padding: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #e9204f;
}
